body{
  background-color: #F5F5F5;
 justify-content: center;
 

}
.title{
    padding-top: 4%;
    font-size: 80px;
    font-family: "comfortaa",sans-serif;

}
.subtitle{
    font-size: 30px;
    font-family: "comfortaa",sans-serif;
}
.background{
    box-shadow: 0 4px 8px 0 rgba(74, 74, 74, 0.485) ;
    margin: 3%;
    background:linear-gradient(to top , #dcdcdc 40%, white
     40.5%)

}
h1{
    text-align: center;
}
h3{
    text-align: center;
    padding-bottom: 5%;
}

.boxes{
    opacity: 1;
    transition: .5s ease;
     justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.boxes :hover{
    opacity: .5;
    
    transition: .5s ease;
    

}



#tinybox{
    border-radius: 10px;
    margin: 2%;
    padding: 11%;
    border: 2px solid #ababab;
    background-color: #c4c4c4;
    box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.164) ;
}

